<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" rel="stylesheet">
  <title>Register For Event</title>
</head>
<body>
<h1>Book a Ticket</h1>
<form class="login-form" method="post" th:action="@{/confirm-guest-ticket}" th:object="${ticket}">

  <label for="address">Address:</label>
  <select required id="address" class="form-select" th:field="*{address}" aria-label="Default select example">
    <option selected disabled value="">Open this select menu</option>
    <option th:each="address : ${addresses}" th:value="${address}" th:text="${address}"></option>
  </select>
  <label for="time">Time:</label>
  <select required id="time" class="form-select" th:field="*{time}" aria-label="Default select example">
    <option disabled selected value="">Open this select menu</option>
    <option th:each="time : ${time}" th:value="${time}" th:text="${time}"></option>
  </select>
  <label for="user">Users:</label>
  <select required id="user" class="form-select" th:field="*{userName}" aria-label="Default select example">

    <option selected  th:value="*{userName}" th:text="*{userName}">
    </option>
  </select>
  <label for="user">Date:</label>
  <select required id="date" class="form-select" th:field="*{date}" aria-label="Default select example">
    <option disabled selected value="">Open this select menu</option>
    <option th:each="d: ${date}" th:value="${d}" th:text="${d}"></option>
  </select>
  <label for="anime">Anime</label>
  <select  required id="anime" class="form-select" th:field="*{animeGroup}" aria-label="Default select example">
    <option disabled selected value="">Open this select menu</option>
    <option th:each="a: ${anime}" th:value="${a}" th:text="${a}"></option>
  </select>
  <!--    <label for="price">Price</label>-->
  <!--    <select required id="price" class="form-select" th:field="*{price}" aria-label="Default select example">-->
  <!--        <option disabled selected value="">Open this select menu</option>-->
  <!--        <option th:each="p: ${price}" th:value="${p}" th:text="${p}"></option>-->
  <!--    </select>-->
  <button type="submit" class="btn btn-primary m-10">Confirm</button>
  <a th:href="@{/}"><button type="button" class="m-10 btn btn-primary">Home</button></a>


</body>
</html>